.dark {
  min-height: 100vh;
  --bg-opacity: 1;
  background-color: #120d08;
  background-color: rgba(18, 13, 8, var(--bg-opacity));

  .bg-transparent {
    background-color: transparent;
  }

  .bg-gradient {
    background: linear-gradient(87deg, #333, #444) !important;
  }

  .bg-white {
    --bg-opacity: 1;
    background-color: #222;
    background-color: rgba(32, 32, 32, var(--bg-opacity));
  }

  .bg-gray-100 {
    --bg-opacity: 1;
    background-color: #181614;
    background-color: rgba(24, 22, 20, var(--bg-opacity));
  }

  .bg-gray-200 {
    --bg-opacity: 1;
    background-color: #120d08;
    background-color: rgba(18, 13, 8, var(--bg-opacity));
  }

  .border-gray-100 {
    --border-opacity: 1;
    border-color: #f7fafc;
    border-color: rgba(247, 250, 252, var(--border-opacity));
  }

  .border-gray-200 {
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity));
  }

  .border-gray-300 {
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity));
  }

  .border-gray-400 {
    --border-opacity: 1;
    border-color: #cbd5e0;
    border-color: rgba(203, 213, 224, var(--border-opacity));
  }

  .border-gray-600 {
    --border-opacity: 1;
    border-color: #718096;
    border-color: rgba(113, 128, 150, var(--border-opacity));
  }

  .border-gray-700 {
    --border-opacity: 1;
    border-color: #4a5568;
    border-color: rgba(74, 85, 104, var(--border-opacity));
  }

  .border-blue-700 {
    --border-opacity: 1;
    border-color: #2b6cb0;
    border-color: rgba(43, 108, 176, var(--border-opacity));
  }

  .placeholder-gray-400::-webkit-input-placeholder {
    --placeholder-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--placeholder-opacity));
  }

  .placeholder-gray-400:-ms-input-placeholder {
    --placeholder-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--placeholder-opacity));
  }

  .placeholder-gray-400::-ms-input-placeholder {
    --placeholder-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--placeholder-opacity));
  }

  .placeholder-gray-400::placeholder {
    --placeholder-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--placeholder-opacity));
  }

  .shadow {
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1),
      0 1px 2px 0 rgba(255, 255, 255, 0.06);
  }

  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06);
  }

  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
      0 4px 6px -2px rgba(255, 255, 255, 0.05);
  }

  .shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(255, 255, 255, 0.1),
      0 10px 10px -5px rgba(255, 255, 255, 0.04);
  }

  .shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
  }

  .shadow-none {
    box-shadow: none;
  }

  .hover\:shadow-md:hover {
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06);
  }

  .hover\:shadow-lg:hover {
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
      0 4px 6px -2px rgba(255, 255, 255, 0.05);
  }

  .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }

  .fill-current {
    fill: currentColor;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-black {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
  }

  .text-white {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
  }

  .text-gray-400 {
    --text-opacity: 1;
    color: #342a1f;
    color: rgba(52, 42, 31, var(--text-opacity));
  }

  .text-gray-500 {
    --text-opacity: 1;
    color: #6f614f;
    color: rgba(111, 97, 79, var(--text-opacity));
  }

  .text-gray-600 {
    --text-opacity: 1;
    color: #8e7f69;
    color: rgba(142, 127, 105, var(--text-opacity));
  }

  .text-gray-700 {
    --text-opacity: 1;
    color: #b5aa97;
    color: rgba(181, 170, 151, var(--text-opacity));
  }

  .text-gray-800 {
    --text-opacity: 1;
    color: #d2c8b7;
    color: rgba(210, 200, 183, var(--text-opacity));
  }

  .text-gray-900 {
    --text-opacity: 1;
    color: #e5dfd3;
    color: rgba(229, 223, 211, var(--text-opacity));
  }

  .hover\:text-gray-400:hover {
    --text-opacity: 1;
    color: #342a1f;
    color: rgba(52, 42, 31, var(--text-opacity));
  }

  .hover\:text-gray-600:hover {
    --text-opacity: 1;
    color: #8e7f69;
    color: rgba(142, 127, 105, var(--text-opacity));
  }

  .hover\:text-gray-800:hover {
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45, 55, 72, var(--text-opacity));
  }

  .hover\:text-gray-900:hover {
    --text-opacity: 1;
    color: #d2c8b7;
    color: rgba(229, 223, 211, var(--text-opacity));
  }

  .lg\:text-white {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
  }

  .lg\:text-gray-300 {
    --text-opacity: 1;
    color: #1d170f;
    color: rgba(29, 23, 15, var(--text-opacity));
  }

  .lg\:hover\:text-gray-300:hover {
    --text-opacity: 1;
    color: #1d170f;
    color: rgba(29, 23, 15, var(--text-opacity));
  }

  .md\:shadow-none {
    box-shadow: none;
  }

  .lg\:shadow-none {
    box-shadow: none;
  }
}
